.header{
    text-align: center;
    padding-top: 13%
}

.bgimg {
background-image: url("./img/bgimage.jpg");
  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.leblefont{
  background-image: linear-gradient( linear, left top, left bottom, from(#eee), to(#333));
  font-size: 18px;
 
}

.text {
	text-transform:unset;
  background: linear-gradient(to right, rgb(103, 52, 204) 0%,#cc7625, #580f66 100%);
  background-clip: text;
	-webkit-background-clip: text ;
	-webkit-text-fill-color: transparent;
	font-size: 6vw;
  font-family: 'Poppins', sans-serif;
  margin-top: 5%;
  };
  
  .goMechanics{
    margin-left: 15%;
  }

.Mlogoalign{
  margin-left: 15%;
}

.font{
  font-size: 16px;
  font-family:  Helvetica ;
  color: aliceblue;
}
.btncolor{
 background-color: #f2ae2e;
}
.btn_home{
  margin-top: -212%;
  margin-left: 36%;
  background-image: linear-gradient( rgb(162, 170, 207),rgb(59, 59, 112));
  height: 20%;
}
.btn-align{
    text-align:center
}

.btn_alng{
    text-align: center;
    margin-top: 5%;
  }

  @media (max-width: 576px) { 
    .btn_alng{
        text-align: center;
        margin-top: 5%;
      } 
      .Mlogoalign{
        margin-left: 10%;
      }

      .Tlogoalign{
        margin-top:10%;
      }
    }


      